h1,h3,h4,Label{
    color: #926F3B !important;
}
.ant-input{
    width: 200px !important;
}
.borderBox {
    height: 100%;
    width: 100%;
    border: 2px solid #9E4624;
    padding: 5px;
    margin: 20px;
}


.borderBoxSmall{
    border: 2px solid #D8AE47;
}

.button {
    background-color: #9E462C !important;
    border-color: #9E462C !important;
    color: #FFFFFF !important;
}

.button:hover {
    background-color: #a15a3f !important;
    color: #FFFFFF !important;
}

@media only screen and (max-width: 3000px) {
    .layout{
        padding:0px 190px !important;
    }
}

@media only screen and (max-width: 750px) {
    .layout{
        padding:0px 100px !important;
    }
}

@media only screen and (max-width: 600px) {
    .layout{
        padding:0px 50px !important;
    }
}