.Button {
    background-color:#9E4624 !important;
    border-color: #9E4624 !important;
    color: #fff !important;
  }
  
  .Button:hover {
    background-color:#a15a3f !important;
    border-color: #a15a3f !important;
  }  


  .previousButton:hover{
    border-color: #a15a3f !important;
    color: #a15a3f !important;
  }
  
